<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Automation tests" thread-count="2"  >
	<listeners>
				<listener class-name="utilities.ExtentReportManager"/>
	</listeners>
        <test name="ChromeTests">
               <parameter name="browser" value="chrome"/>
                   <classes>
							<!--<class name="testCases.TC__001__SignUpTest" />
							<class name="testCases.TC__002__LoginTest" />
							<class name="testCases.TC__004__LogoutUser" />
							<class name="testCases.TC__005__RegisterUserWithExistingEmail" />
							<class name="testCases.TC__006__ContactUs" />
							<class name="testCases.TC__007__TestCases" />
							<class name="testCases.TC__008__AllProdctsandProductDetails" />
							<class name="testCases.TC__009__SearchProduct" />
							<class name="testCases.TC__010__Subscription" />
							<class name="testCases.TC__011__AddToCart"/-->
							<class name="testCases.TC__012__ProductQuantityInCart"/>
							   
                   </classes>
       </test>
</suite>